export OPENAI_API_KEY="YOUR-API-KEY-HERE"
# Models  cost    fine_tune cost
# Davinci 0.0600  N/A
# Curie   0.0060  0.030
# Babbage 0.0012  0.006
# Ada     0.0008  0.004
MODEL_NAME="ada"
TRAIN_DATA="../../data/gpt/training/temp.csv"
PREPROCESSING_MODE="-q" # -q will Auto accept all suggestions. Leave blank to ask for user input

# This is the path to the file that contains all the training params
# We need to read them separately in order to pass them as args to openai api
TRAINING_PARAMS="training_params.cfg"
